*{
    box-sizing: border-box;
    margin:0;
    padding:0;
} 

/* Header  */
header{
    height: 180px;
    background-color: rgb(8, 164, 216);       
    background-image: url(img/pattern.png) ;
    position: relative;
}

header #logo-bool{    
    width: 20%;
    position: absolute;
    bottom:15px;
    left:5px;
}

/* Title  */
#title h1, #title .desc-title, #title .title-img{
    margin:10px;
}

#title > h1{
    font-size: 3em;
}

#title .desc-title {
    color: #928f8f;
}

#title .desc-title a {
    text-decoration: none;
}

#title .title-img .desc-img {
    font-size: 0.8em;
}